body {
    font-family: "Computer Modern Serif" /*"Computer Modern Sans"*/, sans-serif;
    max-width: 40em;
    margin: 50px auto;
    margin-left: 200px;
    /*margin: 60px auto;
    width: 70%;*/
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.4em;
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
