body {
    font-family: "Computer Modern Serif" /*"Computer Modern Sans"*/, sans-serif;
    max-width: 50em;
    margin: 50px auto;
    margin-left: 200px;
    /*margin: 60px auto;
    width: 70%;*/
}

body.posts {
    font-family: "Computer Modern Serif" /*"Computer Modern Sans"*/, sans-serif;
    max-width: 35em;
    margin: 50px auto;
    margin-left: 200px;
    /*margin: 60px auto;
    width: 70%;*/
}


nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.4em;
}

h1.main{
    font-size: 1.2em;
}

h1.post{
    font-size: 1.2em;
    float: left;
    width: 70%;
}

.postdate{
    float: right;
    width: 20%;
}

p {
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

.center {
    text-align: center;
}

.pad-top{
    padding-top: 0.75em;
}

/* grids,columns,etc -----------------------------------------------------*/
.column {
    float: left;
    padding-right: 20px;
}

.left {
  width: 60%;
}

.right {
  width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}